<h1><%= @word %></h1>
<h3 style= "width:70%">Etymology: <%= @etymology[0] %></h3>

<table style="width:70%">
  <tr>
    <th>French</th>
    <th>Italian</th>
    <th>Spanish</th>
    <th>Portuguese</th>
  </tr>
  <tr>
    <td><%= @french_word %></td>
    <td><%= @italian_word %></td>
    <td><%= @spanish_word %></td>
    <td><%= @portuguese_word %></td>
  </tr>
</table>

<br />

<a href="/">Try another word</a>
