<h1><%= @word %></h1>

<table style="width:70%">
  <tr>
    <th>French</th>
    <th>Italian</th>
    <th>Spanish</th>
  </tr>
  <tr>
    <td><%= @french_word %></td>
    <td><%= @italian_word %></td>
    <td><%= @spanish_word %></td>
  </tr>
  <tr>
    <td colspan="3"><%= @etymology %></td>
  </tr>
</table>



<a href="/">Try another word</a>
